<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <title>Document</title>
</head>
<body>
  <h1>修改文章</h1>

          <form  action="/home/article/update/?id={$art.id}" method="post" >

                  <input  name="title" type="text" placeholder="标题" value="{$art.title}">
                  <input  name="content" type="text" placeholder="内容"  value="{$art.content}">

                  <select name="category_id">
                    <option value="1">japan</option>
                    <option value="2" >china</option>
                    <option value="3">america</option>
                    <option value="4">england</option>

                  </select>


                  <input type="submit" value="确认修改">
          </form>
</body>
</html>