<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
            <div >
                <form id="registerForm" action="/home/register/register" method="post" >

                        <input  name="username" type="text" placeholder="用户名">


                        <input  name="password" type="password" placeholder="请输入密码" >
                        <input  name="password2" type="password" placeholder="确认密码" >
                        <input type="submit" value="注册">
                </form>
<a href="/home/login/login">已有账号直接登录</a>
            </div>

</body>
</html>